#root {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  background-image: url("./Potato-Side-Dishes-FB.jpeg")
}

.button {
  background-color: rgba(165, 42, 42, 0.76); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none; 
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

.square {
  height: 165px;
  width: 165px;
  border: 4px solid black;
  font-size: 50px;
  text-align: center;

}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: white;
}
/* center the h1 below on the page */
h1 {
  text-shadow: 2px 2px 4px rgba(165, 42, 42, 0.76);
  font-weight: bold;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* h1 {
  width: fit-content;
  font-family: 'Times New Roman', Times, serif;
  font-size: 71px;
  text-align: center;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

h2 {
  font-size: 30px;
  text-align: center;
}

footer {
  text-shadow: 2px 2px 4px rgba(165, 42, 42, 0.76);
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  color: white;

  
}